#startRecordingButton {
  height: 4.2em;
  width: 4.2em;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #424242;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#buttonBlock {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

#titleDiv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 14em;
}

h2 {
  text-align: center;
  margin-top: 2em;
  color: var(--app-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: solid #424242 1px;
  margin: 1.2em;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
  color: var(--app-text-color);
}


li p {
  font-size: 14px;
  color: grey;
  margin: 0;
}

#deleteButton {
  background: none;
  border: none;
}

#actionButtonDiv {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 16px;
}

@media(min-width: 1000px) {
  ul {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media(min-width: 1200px) {
  ul {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 12em;
    margin-right: 12em;
  }
}